*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  transition:0.3s;
}

body{
  background:#f4f7f6;
  color:#333;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 8%;
  background:white;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.logo{
  font-weight:700;
  font-size:20px;
  color:#2e9c92;
}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:#333;
  font-weight:500;
}

.hero{
  text-align:center;
  padding:100px 10%;
  background:linear-gradient(135deg,#d8ebe7,#f4f7f6);
}

.hero span{
  color:#2e9c92;
}

.section-title{
  text-align:center;
  margin:60px 0 30px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:0 10%;
}

.card{
  background:white;
  padding:40px;
  border-radius:15px;
  text-align:center;
  font-weight:600;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.card:hover{
  transform:translateY(-10px);
}

.dashboard{
  width:60%;
  margin:auto;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
  text-align:center;
}

.progress-container{
  width:100%;
  background:#eee;
  border-radius:50px;
  overflow:hidden;
  height:20px;
}

.progress-bar{
  height:100%;
  width:0%;
  background:#2e9c92;
}

form{
  width:50%;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input, textarea{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
}

.btn{
  padding:10px 20px;
  border:none;
  border-radius:25px;
  cursor:pointer;
}

.primary{
  background:#2e9c92;
  color:white;
}

.outline{
  border:2px solid #2e9c92;
  background:transparent;
  color:#2e9c92;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:white;
  padding:30px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

.switch{
  margin-top:10px;
  color:#2e9c92;
  cursor:pointer;
}

footer{
  margin-top:60px;
  padding:20px;
  background:#1f2d2b;
  color:white;
  text-align:center;
}

/* DARK MODE */
.dark{
  background:#121212;
  color:white;
}

.dark header,
.dark .card,
.dark .dashboard,
.dark .modal-content{
  background:#1e1e1e;
  color:white;
  }
